.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: #00a696;
  color: white;
  padding: 1em 2em;
  cursor: pointer;
}

.ripple-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ripple {
  position: absolute;
  transform: scale(0);
  animation: ripple 600ms linear;
  opacity: 0.5;
  background-size: contain;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
